.memeberStories {
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 30px;
  margin-top: 30px;
  gap: 10px;
  .userStoryName {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
  }
  .story {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    .storyImgWrapper {
      position: relative;
      height: 250px;
      .storyAddBtn {
        position: absolute;
        height: 30px;
        width: 30px;
        background-color: #3e8ccb;
        color: #fff;
        bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 10px;
        font-size: 20px;
        border-radius: 50%;
        border: none;
        font-weight: 700;
        cursor: pointer;
      }
      .storyImg {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }
}
